body{
    overflow: hidden;
    }
    #Container{
       width:400px;
       margin:10px auto;
       text-align:center;
   }
   #mainBox{
    width :400px;
    height: 160px;
    background-color:#0781d0;
    display:inline-block;
   }
   #box2{
    width :400px;
    height:600px;
    background-color:#ffffff;
    display:inline-block;
    border: 1px solid; 
    border-color: rgb(160,160,255);
   }

   #keluar{
    background: url(/images/keluar.png) no-repeat center;
    width: 340px;
    height: 36px;
    border: 0px;
    margin-top: 77px;
   }
   p
   {
    font-family:Roboto;
    color:white;
    font-size:28px;
    text-align:left;
    padding-left:30px;
    margin-top:40px;
    height:10px;
   }
   h1
   {
    font-family:Roboto;
    color:white;
    font-size:22px;
    text-align:left;
    padding-left:30px;
   }
   #agen
   {
    margin-top: -119px;
    width: 200px;
    text-align: right;
    padding-left: 199px;
   }
   #avatar{
    width:104px;
   }
   h2{
    font-family:Roboto;
    color: #252525;
    font-size:24px;
    margin-top:10px;
   }
   h3{
    font-family:Roboto;
    color:#A9A9A9;
    font-size:14px;
    margin-top:-16px;
   }
   h4{
    font-family:Roboto;
    color:#252525;
    font-size:20px;
    margin-top:10px;
    padding-left:30px;
    text-align:left;
   }
   h5{
    font-family:Roboto;
    color:#A9A9A9;
    font-size:14px;
    margin-top:-16px;
    padding-left:30px;
    text-align:left;
   }
