body{
    overflow: hidden;
    }
   #Container{
    width:400px;
    margin:auto;
    text-align:center;
   }
   #mainBox{
    width :400px;
    height: 625px;
    background-color:#0781d0;
    display:inline-block;    
   }
    #formBG{
    background-color:white;
    width:312px;
    height:154px;
    margin:0 auto;
    border-radius:10px;
   }
   #masuk{
    background:url('/images/masuk.png') no-repeat center;
    width:400px;
    height:50px;
    border:0px;
    margin-top:10px;
   }
   p
   {
    font-family:Roboto;
    color:white;
    font-size:20px;
   }
   #logo
   {
    margin-top:70px;
    width:112px;
    img:62px;
    align:center;
   }
   
   
  hr{
  display:inline-block;
  width:65%;
 }
 #help{
    margin-top: 70px;
   }
   #close{
    margin-top: 10px;
   }